# Security Warning: Keep your secret key secret in production!
SECRET_KEY=your-secret-key-here

# Security Warning: Don't run with debug turned on in production!
DEBUG=True

# Comma-separated list of allowed hosts (e.g. localhost,127.0.0.1,example.com)
ALLOWED_HOSTS=*

# Time Zone
TIME_ZONE=Asia/Bangkok
